gym
gym-super-mario-bros
nes-py
stable-baselines3
torch
tensordict
torchrl
numpy
pandas
matplotlib
tensorboard
opencv-python
pillow
pyglet
tqdm
cloudpickle
shimmy

# Optional: notebook
jupyter
ipywidgets

# Optional: dev
pytest
seaborn
